.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #212734;
}

.blockLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid grey;
  background-color: #212734;
  width: 20%;
  height: 100%;
}

.blockCenter {
  border-right: 1px solid grey;
  background-color: #212734;
  width: 50%;
  height: 100%;
}

.blockRight {
  /* border-right: 1px solid grey; */
  background-color: #212734;
  width: 30%;
  height: 100%;
}

/* NEW MESSAGE CONTAINER */
.newmessage {
  border-bottom: 1px solid grey;
  background-color: #212734;
  height: 30%;
  width: 100%;
}

.newMessageHeader {
  color: white;
  margin: 10px;
  width: 100%;
  height: 30%;
  font-size: 24px;
}

.newInputContainer {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.newInput {
  width: 80%;
  height: 30px;
  background-color: #212734;
  border: none;
  border-bottom: solid 1px grey;
  color: white;
  margin-bottom: 5px;
}

.newInputBottom {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.newInput::placeholder {
  font-weight: bold;
}

.newTweetButton {
  margin-left: 10px;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  color: white;
  background-color: rgb(29, 155, 240);
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.newTweetButton:hover {
  border: 1px solid white;
}


/* TWEETS CONTAINER */
.zonemessage {
  background-color: #212734;
  height: 68%;
  width: 100%;
  overflow-y: auto;
  
}

.zonemessage::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.zonemessage::-webkit-scrollbar-track {
  background:#212734;/* color of the tracking area */
}

.zonemessage::-webkit-scrollbar-thumb {
  background-color: grey; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.logo {
  width: 200px;
  transform: rotate(180deg);
  margin-top: 15px;
  margin-left: 20px;
}

.small {
  width: 50px;
  margin-bottom: 5px;
}

.disconnectedButton {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin-left: 15px;
}

.blockhaut {
  display: flex;
}

.pseudo {
  color: white;
  font-weight: bold;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-top: 4px;
}

.button {
  margin-top: 5px;
  width: 40%;
}

.blocktopright {
  margin-left: 8px;
}

.username {
  color: grey;
}