.tweetContainer {
    background-color: #212734;
    height: 20%;
    width: 100%;
    border: 1px solid grey;
}

.tweetHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar {
    height: 20px;
}

.userName {
    color: gray;
}