.tweetContainer {
    background-color: #212734;
    height: 40%;
    width: 100%;
    border-bottom: 1px solid grey;
    color: white;
}

.tweetHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px;
}

.firstName {
    font-weight: bold;
}

.userName {
    color: gray;
    margin: 5px;
}

.message {
    margin: 10px;
    overflow-wrap: break-word;
    height: 30%;
    overflow-y: auto;
}

.message::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
  }
  
.message::-webkit-scrollbar-track {
    background:#212734;/* color of the tracking area */
  }
  
.message::-webkit-scrollbar-thumb {
    background-color: grey; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }


.heart {
    cursor: pointer;
    margin-left: 10px;
}