.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #0d1117;
}

.leftContent {
    background-image: url('../public/images/background.png');
    background-size: cover;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    width: 200px;
    transform: rotate(180deg);
}

.small {
    width: 50px;
    margin-bottom: 5px;
}

.rightContent {
    width: 65%;
    height: 100%;
    padding: 20px;
    color: white;
}

.h1 {
    width: 350px;
    font-size: 70px;
    margin-bottom: 30px;
}

.h3 {
    font-size: 30px;
    margin-top: 0;
}

.button {
    border-radius: 20px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    color: white;
}

.signUp {
    background-color: rgb(29, 155, 240);
    border: solid 1px white;
}

.signUp:hover {
    background-color: rgb(8, 108, 189);
}

.signIn {
    background-color: #0d1117;
    border: solid 1px grey;
    color: rgb(29, 155, 240);
}

.signIn:hover {
    background-color: #181f2d;
}

/* MODAL */

.modalContainer {
    background-color: #212734;
    position: absolute;
    border-radius: 20px;
}

.connectionWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}

.cancelButtonContainer {
    width: 100%;
    text-align: end;
    margin-right: 15px;
}

.cancelButton {
    background-color: #212734;
    border: none;
    color: white;
    cursor: pointer;
}

.modalH3 {
    font-size: 20px;
    color: white;
}

.logInput {
    border: solid 1px white;
    border-radius: 2px;
    background-color: #212734;
    color: white;
    padding: 5px;
    margin: 5px;
    width: 40%;
    height: 30px;
}

.logInput::placeholder {
    color: grey;
}

.connectionWindowbutton{
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    width: 40%;
    height: 25px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

.connectionWindowbutton:hover {
    background-color: rgb(212, 205, 205);
}